{% extends "students/base.html" %}

{% load static %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}База Студентів{% endblock title %}

{% block status_message %}
{% if errors %}
<div class="alert alert-warning" role="alert">
Будь-ласка, виправте наступні помилки
</div>
{% endif %}
{% endblock status_message %}

{% block content %}
<form action="{% url 'students_add' %}" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
{% csrf_token %}
<div class="form-group row">
	<label for="first_name" class="col-sm-2 col-form-label">Ім'я*</label>
	<div class="col-sm-10">
		<input type="text"
			   value="{{ request.POST.first_name }}" name="first_name" id="first_name" placeholder="Введіть ваше ім'я"
			   class="form-control {% if errors.first_name %}is-invalid{% elif request.POST.first_name %}is-valid{% endif %}" required/>
		{% if errors.first_name %}
		<div class="invalid-feedback">
			{{ errors.first_name }}
		</div>
		{% endif %}
	</div>
</div>

<div class="form-group row">
	<label for="last_name" class="col-sm-2 col-form-label">Прізвище*</label>
	<div class="col-sm-10">
		<input type="text" value="{{ request.POST.last_name }}" name="last_name" id="last_name" placeholder="Введіть ваше прізвище"
			   class="form-control {% if errors.last_name %}is-invalid{% elif request.POST.last_name %}is-valid{% endif %}" required/>
		{% if errors.last_name %}
		<div class="invalid-feedback">
			{{ errors.last_name }}
		</div>
		{% endif %}
	</div>
</div>

<div class="form-group row">
	<label for="middle_name" class="col-sm-2 col-form-label">По-батькові</label>
	<div class="col-sm-10">
		<input type="text" value="{{ request.POST.middle_name }}" name="middle_name" id="middle_name" placeholder="Введіть ваше по-батькові" class="form-control"/>
	</div>
</div>

<div class="form-group row">
	<label for="birthday" class="col-sm-2 col-form-label">Дата Народження*</label>
	<div class="col-sm-10">
		<input type="text" value="{{ request.POST.birthday }}" name="birthday" id="birthday" placeholder="у форматі 1984-12-30"
			   class="form-control {% if errors.birthday %}is-invalid{% elif request.POST.birthday %}is-valid{% endif %}" required/>
		{% if errors.birthday %}
		<div class="invalid-feedback">
			{{ errors.birthday }}
		</div>
		{% endif %}
	</div>
</div>

<div class="form-group row">
	<label for="photo" class="col-sm-2 col-form-label">Фото</label>
	<div class="col-sm-10">
		<div class="custom-file">
			<input type="file" value="" name="photo" id="photo"
				   class="custom-file-input form-control {% if errors.photo %}is-invalid{% endif %}" required/>
			<label class="custom-file-label" for="photo">
			{% if request.FILES.get %}
				request.FILES.get
			{% else %}
				Choose file
			{% endif %}
			</label>
			{% if errors.photo %}
			<div class="invalid-feedback">
				{{ errors.photo }}
			</div>
			{% endif %}
		</div>
	</div>
</div>

<div class="form-group row">
	<label for="ticket" class="col-sm-2 col-form-label">Білет*</label>
	<div class="col-sm-10">
		<input type="text" value="{{ request.POST.ticket }}" name="ticket" id="ticket" placeholder="Введіть число"
			   class="form-control-file form-control {% if errors.ticket %}is-invalid{% elif request.POST.ticket %}is-valid{% endif %}" required/>
		{% if errors.ticket %}
		<div class="invalid-feedback">
			{{ errors.ticket }}
		</div>
		{% endif %}
	</div>
</div>

<div class="form-group row">
	<label for="student_group" class="col-sm-2 col-form-label">Група*</label>
	<div class="col-sm-10">
		<select name="student_group" id="student_group"
				class="custom-select form-control {% if errors.student_group %}is-invalid{% elif request.POST.student_group %}is-valid{% endif %}"  size="1" required>
			<option value="">Виберіть групу</option>
			{% for group in groups %}
			<option value="{{ group.id }}"
					{% if group.id == request.POST.student_group|add:0 %}
					selected='selected'
					{% endif %}>
				{{ group.title }}</option>
			{% endfor %}
		</select>
		{% if errors.student_group %}
		<div class="invalid-feedback">
			{{ errors.student_group }}
		</div>
		{% endif %}
	</div>
</div>

<div class="form-group row">
	<label for="notes" class="col-sm-2 col-form-label">Додаткові Нотатки</label>
	<div class="col-sm-10">
		<textarea name="notes" id="notes" class="form-control"></textarea>
	</div>
</div>

<div class="form-group row">
	<label class="col-sm-2 col-form-label"></label>
	<div class="col-sm-10">
		<button type="submit" name="add_button" class="btn btn-primary">Додати</button>
		<button type="submit" name="cancel_button" class="btn btn-link">Скасувати</button>
		<!-- another variant -->
		<!-- <input type="submit" value="Додати" name="add_button"/> -->
		<!-- <input type="submit" value="Скасувати" name="cancel_button"/> -->
	</div>
</div>

</form>

{% endblock content %}
        

    
