{% extends "students/base.html" %}

{% load static %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}База Студентів{% endblock title %}

{% block content %}

        <a class="btn btn-primary" href="{% url "students_add" %}">Додати Студента</a>
        
        <!-- Start Students Listing -->
        {% if students %}
        <table class="table table-bordered" id="table">
          {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
          <thead class="thead-light">
            <tr>
              <th scope="col"><a href="#">#</a></th>
              <th scope="col">Фото</th>
              <th scope="col">
                  <a href="{% url "home" %}?order_by=last_name{% if order_by == 'last_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
                  Прізвище
                  {% if order_by == '' %}&uarr;
                  {% elif order_by == 'last_name' and reverse != '1' %}&uarr;
                  {% elif order_by == 'last_name' and reverse == '1' %}&darr;
                  {% endif %}
                  </a>
              </th>
              <th scope="col">
                  <a href="{% url "home" %}?order_by=first_name{% if order_by == 'first_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
                  Ім'я
                  {% if order_by == 'first_name' and reverse != '1' %}&uarr;
                  {% elif order_by == 'first_name' and reverse == '1' %}&darr;
                  {% endif %}
                  </a>
              </th>
              <th scope="col">
                  <a href="{% url "home" %}?order_by=ticket{% if order_by == 'ticket' and reverse != '1' %}&amp;reverse=1{% endif %}">
                  № Білету
                  {% if order_by == 'ticket' and reverse != '1' %}&uarr;
                  {% elif order_by == 'ticket' and reverse == '1' %}&darr;
                  {% endif %}
                  </a>
              </th>
              <th scope="col">Дії</th>
            </tr>
          </thead>
          {% endwith %}
          <tbody>
            {% for student in students %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><img class="rounded-circle"
                       {% if student.photo %}
                       src={{ student.photo.url }}
                       {% else %}
                       src={% static "img/default_user.png" %}
                        {% endif %}
                  height="30" width="30" />
              </td>
              <td><a href="{% url "students_edit" student.id %}">{{ student.last_name }}</td>
              <td><a href="{% url "students_edit" student.id %}">{{ student.first_name }}</td>
              <td>{{ student.ticket }}</td>
              <td>
                <div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" 
					type="button" 
					id="dropdownMenuButton" 
					data-toggle="dropdown" 
					aria-haspopup="true" 
					aria-expanded="false">
						Дія
					</button>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="{% url "students_edit" student.id %}">Редагування</a>
							<a class="dropdown-item" href="{% url "student_visiting" student.id %}">Відвідування</a>
							<a class="dropdown-item" href="{% url "students_delete" student.id %}">Видалити</a>
						  </div>
				</div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- End Students Listing -->
        {% else %}
        <p>Поки що немає студентів у базі</p>
        {% endif %}
        
        <nav aria-label="Page navigation example">
		  <ul class="pagination">
			<li class="page-item">
			  <a class="page-link" href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			  </a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
			  <a class="page-link" href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			  </a>
			</li>
		  </ul>
		</nav>
{% endblock content %}
        
      </div>
    </div>
    <!-- End Content Columns -->
    
    <!-- Start Footer -->
    <div class="row" id="footer">
      <div class="col-12">
        &copy; 2014 Сервіс Обліку Студентів
      </div>
    </div>
    <!-- End Footer -->

  </div>
  <!-- End Container -->
  
  <!-- Javascripts Inclusion -->
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
